@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Island+Moments&display=swap");
.navbar-section .navbar-brand {
  font-family: "Island Moments", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: xx-large;
}
.navbar-section li {
  margin-right: 30px;
}

.banner-section {
  background-image: url(../images/black_banner.png);
  width: 100%;
  height: 610px;
  position: relative;
  background-size: cover;
}
.banner-section .banner-content {
  position: absolute;
  margin-top: 200px;
  padding-left: 100px;
}
.banner-section .banner-content label {
  color: var(--primary-color);
}
.banner-section .banner-content p {
  margin-top: 10px;
  margin-bottom: 0px;
}
.banner-section .banner-data {
  position: absolute;
  display: flex;
  bottom: 0px;
  padding-left: 100px;
}
.banner-section .banner-data label {
  font-weight: bold;
  color: var(--primary-color);
}
.banner-section .banner-data i {
  color: var(--primary-color);
  padding-left: 20px;
}

.about-section {
  margin-top: 100px;
  padding-left: 90px;
}
.about-section .aboutme {
  padding: 40px;
}
.about-section .aboutme .img-container .experiance {
  position: absolute;
  margin-top: -30px;
  margin-left: 287px;
  color: var(--primary-color);
}
.about-section .aboutme .img-container .experiance label {
  font-size: xx-large;
  font-weight: bolder;
}
.about-section .aboutme .img-container .experiance p {
  font-size: x-small;
  padding: 0px;
}
.about-section .aboutme .img-container .img-box {
  margin-top: -380px;
  margin-left: 34px;
}
.about-section .aboutme .about-data p {
  padding-right: 100px;
  margin-bottom: 40px;
  text-align: justify;
}

.portfolio-section {
  margin-top: 100px;
  padding-left: 100px;
  padding-right: 100px;
}
.portfolio-section .project-div {
  margin-top: 100px;
}
.portfolio-section .project-div .project-data {
  padding: 60px;
}
.portfolio-section .project-div .project-data p {
  text-align: justify;
}
.portfolio-section .project-div .img-container {
  margin-top: -60px;
}
.portfolio-section .project-div .img-container .img-box {
  margin-top: -240px;
  margin-left: 34px;
}
.portfolio-section .graphic-div {
  margin-top: 60px;
  padding: 50px;
}
.portfolio-section .graphic-div img:hover {
  border: 5px solid var(--primary-color);
}
.portfolio-section .uiux-div {
  margin-top: 80px;
  color: var(--secondary-color);
  font-size: small;
}
.portfolio-section .uiux-div .card:hover {
  border: 5px solid var(--primary-color);
}

.resume-section {
  margin-top: 100px;
  padding-left: 100px;
  padding-right: 100px;
}
.resume-section .resume-data {
  margin-top: 50px;
}
.resume-section .resume-data h6 {
  padding-bottom: 20px;
}
.resume-section .resume-data .timeline .timeline-with-icons {
  border-left: 1px solid var(--primary-color);
  position: relative;
  list-style: none;
}
.resume-section .resume-data .timeline .timeline-with-icons .timeline-item {
  position: relative;
}
.resume-section .resume-data .timeline .timeline-with-icons .timeline-item:after {
  position: absolute;
  display: block;
  top: 0;
}
.resume-section .resume-data .timeline .timeline-with-icons .timeline-icon {
  position: absolute;
  left: -48px;
  background-color: var(--primary-color);
  color: var(--primary-text-color) !important;
  border-radius: 10%;
  height: 31px;
  width: 31px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 1281px) {
  /* CSS */
}
/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/
@media (min-width: 1025px) and (max-width: 1280px) {
  /* CSS */
}
/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) {
  /* CSS */
}
/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  /* CSS */
}
/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/
@media (min-width: 481px) and (max-width: 767px) {
  /* CSS */
  .banner-section .banner-content {
    padding-left: 80px;
    margin-top: 100px;
  }
  .banner-section .banner-data {
    display: inline-block !important;
    padding-top: 30px;
    padding-left: 80px;
  }
  .about-section {
    padding-left: 50px;
  }
  .about-section .aboutme {
    margin-top: 50px;
    padding: 0px;
  }
  .about-section .aboutme .about-data {
    padding-top: 25px;
  }
  .col-card {
    padding-bottom: 30px;
  }
}
/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
@media (min-width: 320px) and (max-width: 480px) {
  /* CSS */
  .banner-section .banner-content {
    padding-left: 60px;
    margin-top: 100px;
  }
  .banner-section .banner-content h1 {
    font-size: medium;
  }
  .banner-section .banner-data {
    display: inline-block !important;
    padding-left: 60px;
    padding-top: 30px;
  }
  .about-section {
    padding-left: 40px;
    padding-top: 50px;
  }
  .about-section .aboutme {
    margin-top: 50px;
    padding: 0px;
  }
  .about-section .about-data {
    padding-top: 20px;
    padding-right: 0px;
  }
  .about-section .about-data p {
    padding-right: 10px !important;
  }
  .col-card {
    padding-bottom: 30px;
  }
}/*# sourceMappingURL=style.css.map */